*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/androidTest/
app/src/main/res/dimen/
app/src/main/res/dimens/
app/src/main/res/value/
app/src/main/image
app/src/test/
