<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="root.iv.androidacademy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_new_york_times"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".activity.NewsListActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity android:name=".activity.NewsDetailsActivity" />
        <activity android:name=".activity.IntoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EditNewsActivity"></activity>
    </application>

</manifest>